﻿<ul>
<li><a href="https://minecraft.curseforge.com/mc-mods/253565">ET Lunar [Environmental Tech Addon] (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227083">Baubles (by azanor)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250398">Controlling (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/251389">Integrated Tunnels (by kroeser)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74072">Tinkers Construct (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225839">Quick Leaf Decay (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228832">Guide-API (by TehNut)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/273430">Actually Baubles (by Jacky1356400)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74924">Mantle (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247496">Ranged Pumps (by raoulvdberge)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245453">Environmental Tech (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228756">Iron Chests (by progwml6)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/256224">Angel Ring To Bauble (by Portablejim)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250617">Ceramics (by KnightMiner)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250898">Ore Excavation (by Funwayguy)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/243121">Quark (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/246996">B.A.S.E (by lanse505)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/239197">CraftTweaker (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/222880">Thermal Foundation (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241160">NetherPortalFix (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228404">Actually Additions (by Ellpeck)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242818">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245480">ValkyrieLib (by ValkyrieofNight)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250577">Akashic Tome (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250363">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/264353">SwingThroughGrass (by exidex)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227441">Fullscreen Windowed (Borderless) for Minecraft (by hancin)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238222">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226406">Custom Main Menu (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237167">FTBLib (by FTB)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253211">MTLib (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69162">CoFH Core (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245281">Silent's Gems: Extra Parts (by SilentChaos512)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/74120">Natura (by mDiyo)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227049">Iron Backpacks (by gr8pefish)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245549">Tinkers' Addons (by oitsjustjose)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248787">AppleSkin (by squeek502)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223094">Inventory Tweaks (by Kobata)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231951">Immersive Engineering (by BluSunrize)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/256717">Clumps (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/255232">p455w0rd's Library (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225643">Botania (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/243076">Refined Storage (by raoulvdberge)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245174">Ender Storage 1.8.+ (by covers1624)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/238403">Better Builder's Wands (by Portablejim)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233071">Crafting Tweaks (by BlayTheNinth)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/261251">Bad Wither No Cookie - Reloaded (by kreezxil)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237701">ReAuth (by TechnicianLP)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268560">Mekanism (by aidancbrady)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237102">FTB Utilities (by FTB)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272514">/dank/null (by TheRealp455w0rd)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268567">Mekanism Tools (by aidancbrady)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271835">Thermal Cultivation (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242998">Silent Lib (by SilentChaos512)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/229876">BetterFps (by Guichaguri)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/237903">Reborn Core (by modmuss50)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/220311">Silent's Gems (by SilentChaos512)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245287">Morph-o-Tool (by Vazkii)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/232758">Cyclops Core (by kroeser)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223735">Aroma1997Core (by Aroma1997)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/272302">Refined Storage Addons (by raoulvdberge)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/235279">Chisel (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/251121">Industrial Wires (by malte0811)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/242064">Item Scroller (by masa_)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268250">Immersive Petroleum (by theFlaxbeard)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/270789">Redstone Flux (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/60092">Aroma1997s Dimensional World (by Aroma1997)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/230497">Chameleon (by jaquadro)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267769">Traverse (by ProfessorProspector)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/268566">Mekanism Generators (by aidancbrady)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226447">Resource Loader (by lumien231)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/267602">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/227443">Thermal Dynamics (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/225561">Extra Utilities (by RWTema)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/240630">Just Enough Resources (JER) (by Way2muchnoise)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/263905">Lapis Stays in the Enchanting Table (by csb987)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226670">Light Level Overlay Reloaded (by oldjunyi)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/265917">JEI Integration (by SnowShock35)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69163">Thermal Expansion (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271384">CoFH World (by TeamCoFH)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278385">Diet Hoppers (by RWTema)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/241721">Astral Sorcery (by HellFirePvP)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/270305">Ore Excavation Integration (by BloodWorkXGaming)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223852">Storage Drawers (by jaquadro)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247007">Common Capabilities (by kroeser)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/283644">Placebo (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/271740">Toast Control (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/248453">Shadowfacts' Forgelin (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233105">McJtyLib (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226780">ShadowMC (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/247665">Extra Rails (by shadowfactsmc)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/228525">Bookshelf (by Darkhax)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/236307">Integrated Dynamics (by kroeser)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/286518">WAIM - What am I missing? (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/252354">Open Glider (by gr8pefish)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/32274">JourneyMap (by techbrew)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/256662">Reborn Storage (by modmuss50)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/250832">OpenBlocks Elevator (by VsnGamer)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/288885">FastWorkbench (by Shadows_of_Fire)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/290144">Dismantler (by BloodWorkXGaming)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/278494">FoamFix for Minecraft (by asiekierka)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/289654">Adventure Tools (by qwertypolyp)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/290209">RFTools Power (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/282963">Bed Patch (by Mordenkainen3141)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/231868">EnderCore (by tterrag1098)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/64578">Ender IO (by CrazyPants_MC)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/223628">Thaumcraft (by azanor)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/285492">Thaumic JEI (by Buuz135)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/294202">TombManyGraves 2 API (by M4thG33k)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/262823">Tomb Many Graves 2 (by M4thG33k)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/293496">OldJavaWarning (by Darkhax)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/287683">Construct's Armory (by theillusivec4)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/233564">Tech Reborn (by modmuss50)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/254602">Tesla Core Lib (by Face_of_Cat)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/266515">Industrial Foregoing (by Buuz135)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/277938">Integration Foregoing (by Jacky1356400)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/253230">Initial Inventory (by jaredlll08)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/226958">Soul Shards: The Old Ways (by SgtPunishment)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/282743">DiscordSuite (by Dr_Codex)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/245211">The One Probe (by McJty)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/69118">Morpheus (by Quetzi)</a></li>
<li><a href="https://minecraft.curseforge.com/mc-mods/276951">Comforts (by theillusivec4)</a></li>
</ul>
